[submodule "i3/scripts/i3expo"]
	path = config/i3/scripts/i3expo
	url = https://gitlab.com/d.reis/i3expo
[submodule "urxvt/ext/urxvt-font-size"]
	path = urxvt/ext/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule "config/nvim/pack/papercolor-theme/start/papercolor-theme"]
	path = config/nvim/pack/papercolor-theme/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "config/nvim/pack/vim-surround/start/vim-surround"]
	path = config/nvim/pack/vim-surround/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
